<metas th:remove="tag">
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge">
	<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<div th:switch="${BOOTJX_UPGRADE_INSECURE_REQUESTS}" th:remove="tag">
		<p th:case="'true'" th:remove="tag">
			<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		</p>
		<p th:case="*" th:remove="tag"></p>
	</div>

	<title>[[${BOOTJX_APP_TITLE}]]</title>
	<link rel="shortcut icon"
		th:href="${BOOTJX_CDN_URL}+'/_common/static/'+${BOOTJX_CDN_STATIC} + '/favicon/favicon.ico'" />
	<link rel="apple-touch-icon" sizes="180x180"
		th:href="${BOOTJX_CDN_URL}+'/_common/static/'+${BOOTJX_CDN_STATIC} + '/favicon/apple-touch-icon.png'">
	<link rel="icon" type="image/png" sizes="32x32"
		th:href="${BOOTJX_CDN_URL}+'/_common/static/'+${BOOTJX_CDN_STATIC} + '/favicon/favicon-32x32.png'">
	<link rel="icon" type="image/png" sizes="16x16"
		th:href="${BOOTJX_CDN_URL}+'/_common/static/'+${BOOTJX_CDN_STATIC} + '/favicon/favicon-16x16.png'">
	<link rel="manifest"
		th:href="${BOOTJX_CDN_URL}+'/_common/static/'+${BOOTJX_CDN_STATIC} + '/favicon/site.webmanifest'">
</metas>

<metas-vue3 th:remove="tag">
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge">
	<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<div th:switch="${BOOTJX_UPGRADE_INSECURE_REQUESTS}" th:remove="tag">
		<p th:case="'true'" th:remove="tag">
			<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		</p>
		<p th:case="*" th:remove="tag"></p>
	</div>

	<title>[[${BOOTJX_APP_TITLE}]]</title>
	<link rel="shortcut icon"
		th:href="${BOOTJX_CDN_URL}+'/favicon.ico'" />
	<link rel="apple-touch-icon" sizes="180x180"
		th:href="${BOOTJX_CDN_URL}+'/apple-touch-icon.png'">
	<link rel="icon" type="image/png" sizes="32x32"
		th:href="${BOOTJX_CDN_URL}+'/favicon-32x32.png'">
	<link rel="icon" type="image/png" sizes="16x16"
		th:href="${BOOTJX_CDN_URL}+'/favicon-16x16.png'">
	<link rel="manifest"
		th:href="${BOOTJX_CDN_URL}+'/site.webmanifest'">
</metas-vue3>


<const th:remove="tag">
	<script>
		window.CONST = {
			dev: '[[${BOOTJX_CDN_DEBUG}]]',
			CDN_URL: '[[${BOOTJX_CDN_URL}]]', //
			CDN_ENTRY: '[[${BOOTJX_CDN_ENTRY}]].js',  //
			CONTEXT: '[[${BOOTJX_APP_CONTEXT}]]',
			APP_CONTEXT: '[[${BOOTJX_APP_CONTEXT}]]',  //
			API_CONTEXT: '[[${BOOTJX_API_CONTEXT}]]',  //
			CDN_CONTEXT: '[[${BOOTJX_CDN_CONTEXT}]]',  //
			APP: '[[${BOOTJX_CDN_APP}]]',  //
			WEBAPP: '[[${BOOTJX_WEBAPP}]]',
			APP_HOST: '[[${BOOTJX_APP_HOST}]]',  //
			APP_BRAND: '[[${BOOTJX_APP_BRAND}]]',  //
			remoteJsVersion: '[[${BOOTJX_CDN_VERSION}]]', //
			USER: ([(${BOOTJX_APP_USER_JSON})]),  //
			CONFIG: {},
			extend: function (obj) {
				for (var key in obj) {
					this[key] = obj[key]
				}
			},
			config: function (key, value) {
				if (typeof key == 'object') {
					for (let k in key) {
						this.CONFIG[k] = key[k]
					}
				}
				else
					this.CONFIG[key] = value

			}
		};
	</script>
</const>
<header th:switch="${BOOTJX_CDN_DEBUG}" th:remove="tag">
	<p th:case="'true'" th:remove="tag">
		<meta name=report th:content="${BOOTJX_CDN_DEBUG}">
	</p>
	<p th:case="*" th:remove="tag">
		<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">

		<!-- // preload  css and js -->
		<link th:href="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.js?_='+${BOOTJX_CDN_VERSION}" rel=preload
			as=script>
		<link th:href="${BOOTJX_CDN_URL} + '/css/chunk-common.css?_='+${BOOTJX_CDN_VERSION}" rel=preload as=style>
		<link th:href="${BOOTJX_CDN_URL} + '/js/chunk-vendors.js?_='+${BOOTJX_CDN_VERSION}" rel=preload as=script>
		<link th:href="${BOOTJX_CDN_URL} + '/js/chunk-common.js?_='+${BOOTJX_CDN_VERSION}" rel=preload as=script>

		<!-- // load  css -->
		<link th:href="${BOOTJX_CDN_URL} + '/css/chunk-vendors.css?_='+${BOOTJX_CDN_VERSION}" rel=stylesheet>
		<link th:href="${BOOTJX_CDN_URL} + '/css/chunk-common.css?_='+${BOOTJX_CDN_VERSION}" rel=stylesheet />

	</p>
</header>

<header-vue3 th:switch="${BOOTJX_CDN_DEBUG}" th:remove="tag">
	<p th:case="'true'" th:remove="tag">
		<meta name=report th:content="${BOOTJX_CDN_DEBUG}">
		<!-- // load  css -->
		<link th:href="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.css?_='+${BOOTJX_CDN_VERSION}"  rel=stylesheet>
	</p>
	<p th:case="*" th:remove="tag">
		<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">

		<!-- // preload  css and js -->
		<!-- link th:href="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.js?_='+${BOOTJX_CDN_VERSION}" rel=preload as=module -->

		<!-- // load  css -->
		<link th:href="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.css?_='+${BOOTJX_CDN_VERSION}"  rel=stylesheet>
	</p>
</header-vue3>

<body th:remove="tag">
	<noscript>
		<strong>We're sorry but ArchitectUI doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<div th:switch="${BOOTJX_CDN_DEBUG}" th:remove="tag">
		<p th:case="'true'" th:remove="tag">
			<!-- // load  js if debug -->
			<script th:src="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.js?_='+${BOOTJX_CDN_VERSION}"></script>
		</p>
		<p th:case="*" th:remove="tag">
			<!-- // load  js if prod -->
			<script th:src="${BOOTJX_CDN_URL}+'/js/chunk-vendors.js?_='+${BOOTJX_CDN_VERSION}"></script>
			<script th:src="${BOOTJX_CDN_URL}+'/js/chunk-common.js?_='+${BOOTJX_CDN_VERSION}"></script>
			<script th:src="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.js?_='+${BOOTJX_CDN_VERSION}"></script>
		</p>
	</div>
</body>
<body-vue3 th:remove="tag">
	<noscript>
		<strong>We're sorry but BootVueUI (3.0) doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<div th:switch="${BOOTJX_CDN_DEBUG}" th:remove="tag">
		<script th:src="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.js?_='+${BOOTJX_CDN_VERSION}" type="module"></script>
	</div>
</body-vue3>
<body-vue3-1 th:remove="tag">
	<noscript>
		<strong>We're sorry but BootVueUI (3.1) doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<div th:switch="${BOOTJX_CDN_DEBUG}" th:remove="tag">
    	<script defer th:src="${BOOTJX_CDN_URL}+'/js/chunk-vendors.js?_='+${BOOTJX_CDN_VERSION}"></script>
		<script defer th:src="${BOOTJX_CDN_URL}+'/'+${BOOTJX_CDN_ENTRY} + '.js?_='+${BOOTJX_CDN_VERSION}"></script>
	</div>
</body-vue3-1>